# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart

# Android related
.gradle/
local.properties
*.iml
*.hprof
*.apk
*.aar
*.dex
*.class
*.jar
*.keystore
*.jks
**/GeneratedPluginRegistrant.java

# iOS related
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserstate
*.xcworkspace
*.lock
*.moved-aside
DerivedData/
*.xcuserdatad
*.xccheckout

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*
*.xcworkspace
DerivedData/

# Windows
windows/Flutter/GeneratedPluginRegistrant.cpp
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# Web
lib/generated_plugin_registrant.dart

# VS Code & IntelliJ
.vscode/
.idea/

# Others
*.log
*.tmp
*.temp
*.swp
*.DS_Store

# NDK / C++ build
.cxx/

# Flutter specific keys and properties
key.properties

# Don’t include firebase/google-services config accidentally
google-services.json
GoogleService-Info.plist

